

* {
  box-sizing: border-box;
  background-color: rgb(244, 244, 244);
  color: #333;
  font-size: 10px;
}

.App {
  margin: 0;
  padding: 0;
}
.title h1{
  color: crimson;
  font-size: 4.2rem;
  letter-spacing: 2px;
  font-weight: normal;
  text-align: center;
}
.container {
margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}
 



.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px 55px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 60%;
}

.modal img {
  width: 100%;
  height: 100%;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 35px;
  font-weight: bold;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
}

.modal .button-container{
  display: flex;
  align-items: center;
  width: 80%;
  height:80% ;
  position: relative;
}

.modal .prev{
  margin-right: auto;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  left: -100px;
}

.modal .next{
  margin-left: auto;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: -100px;
}

  .bouncer {
    text-align: center;
    display: flex;
    justify-content: center;
 
    height: 100px;
  }
  .bouncer div {
    width: 20px;
    height: 20px;
    background:crimson;
    border-radius: 50%;
    animation: bouncer 0.5s cubic-bezier(.19,.57,.3,.98) infinite alternate;
  }
  .bouncer div:nth-child(2) {
    animation-delay: 0.1s;
    opacity: 0.8;
  }
  .bouncer div:nth-child(3) {
    animation-delay: 0.2s;
    opacity: 0.6;
  }
  .bouncer div:nth-child(4) {
    animation-delay: 0.3s;
    opacity: 0.4;
  }
  
  @keyframes bouncer {
    from { transform: translateY(0) }
    to { transform: translateY(-100px) }
  }